<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="save" >
    <table border="1">



        <tr> 姓名<input th:type="text" th:name="username" /> </tr><br/>
        <tr> 地址<input th:type="text" th:name="useraddress" /> </tr><br/>
        <tr> 年龄<input th:type="text" th:name="userage" /> </tr><br/>
        <tr> <input type="submit" value="提交"/> </tr>
        <tr> <input type="reset" value="取消"/> </tr>

    </table>
</form>
</body>
</html>